<h2>Aluno</h2>
<p>Bem vindo a página do aluno.</p>

<a class="btn btn-default" href="Questionario\Index">Ir para questionário</a>

<form action="\Usuario\Logout" method="post">
    
    <input type="submit" value="Sair" />

</form>