@{
    ViewData["Title"] = "QuestionarioView";
}
<!DOCTYPE html>
<head>
	
</head>

<body>
    <div>
		<h1>Informações do aluno</h1>
    </div>
	<div>
		<table>
			<td>
				<h2>Perguntas</h2>
			</td>
			<td>
				<h3>Repostas</h3>
			</td>
		</table>
    </div>
</body>
</html

