
@{
    ViewData["Title"] = "PaginaDeAtualizarPergunta";
    var pergunta = ViewBag.Pergunta;
}

<h2>PaginaDeAtualizarPergunta</h2>

<div class="form-group">
    <div class="table col-lg-10">
        <form action="AtualizarPergunta" method="post">
            <table class="table">
                <tr>
                    <td>
                        <input type="hidden" name="id" value="@pergunta.Id" class="form-group" />
                        <input type="text" name="texto" value="@pergunta.Texto" class="form-control form-group" />
                        <input type="submit" value="Atualizar" class="btn btn-primary form-control form-group" />
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>