
@{
    ViewData["Title"] = "CadastrarProfessor";
}

<h2>CadastrarProfessor</h2>
<form action="\Admin\CadastrarProfessor" method="post">
    <table>
        <tr>
            <td>Nome:</td>
            <td><input type="text" name="nome" /></td>
        </tr>
        <tr>
            <td>Sobrenome:</td>
            <td><input type="text" name="sobrenome" /></td>
        </tr>

        <tr>
            <td>Turmas:</td>
        </tr>
            @{
                var listaDeTurmas = ViewBag.turmas;
                foreach (var item in listaDeTurmas)
                {
                    <tr><td><input type="checkbox" name="listaDeIdDasTurmas" value="@item.Id"/>@item.Serie</td></tr>
                }
            }
        <tr><td><input type="submit" value="Cadastrar"/></td></tr>
    </table>
</form>
