
@{
    ViewData["Title"] = "CadastrarPergunta";
}

<h2>CadastrarPergunta</h2>

<form method="post" action="CadastrarPergunta">
    <table>
        <tr>
            <td>Pergunta</td>
            <td><input type="text" name="perguntaEnviada"/></td>
        </tr>
        <tr>
            <td><input type="submit" /></td>
        </tr>

    </table>
</form>
