
@{
    ViewData["Title"] = "Index";
}

<h2>Minos Software</h2>
<p>Seja bem vindo ao painel administrativo do Minos Software!</p>

<div class="justify-content-center">
 


        <ul class="list-group navbar-btn m">
            <li><a class="btn btn-primary form-control" href="\Admin\CadastrarTurma">Cadastrar turma</a></li>
            <li><a class="btn btn-primary form-control" href="\Admin\CadastrarProfessor" ">Cadastrar professor</a></li>
            <li><a class="btn btn-primary form-control" href="\Admin\CadastrarQuestionario" ">Cadastrar questionario</a></li>
            <li><a class="btn btn-primary form-control" href="\Admin\CadastrarPergunta" ">Cadastrar pergunta</a></li>
            <li><a class="btn btn-primary form-control" href="\Admin\ListaDeTurmas">Lista de perguntas</a></li>

            <li>
                <form action="\Usuario\Logout" method="post">
                    <input class="btn btn-danger form-control" type="submit" value="Sair" />
                </form>
            </li>
        </ul>
    
</div>


