
@{
    ViewData["Title"] = "Index";
}

<h2>Minos Software</h2>
<p>Seja bem vindo ao painel administrativo do Minos Software!</p>

<form action="\Usuario\Logout" method="post">

    <input type="submit" value="Sair" />

</form>

<ul>
    <li><a href="\Admin\CadastrarTurma">Cadastrar turma</a></li>
    <li><a href="\Admin\CadastrarProfessor"">Cadastrar professor</a></li>
    <li><a href="\Admin\CadastrarQuestionario"">Cadastrar questionario</a></li>
    <li><a href="\Admin\CadastrarPergunta"">Cadastrar pergunta</a></li>
</ul>
